<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.7.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <!-- email stuff -->
    <add key="Email.MailTo" value="hoaptt93@gmail.com" />
    <add key="Email.Address" value="hoaptt93@gmail.com" />
    <add key="Email.DisplayName" value="MyWebsite" />
    <add key="Email.Host" value="smtp.gmail.com" />
    <add key="Email.Port" value="587" />
    <add key="Email.User" value="hoaptt93@gmail.com" />
    <add key="Email.Password" value="11235811" />
    <add key="Email.UseDefaultCredentials" value="False" />
    <add key="Email.EnableSsl" value="True" />
    <add key="Email.QueueInterval" value="1" />
    <add key="Email.NumberOfQueueMessage" value="10" />
  </appSettings>
</configuration>