@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');

#authorImage {
    height: 82px;
    width: 82px;
    position: relative;
}

.commentImage {
    height: 64px;
    width: 64px;
    position: relative;
}